<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<html class="no-ie">


<body data-type-of-widget="2" class="page secondary-page t-pattern-1">



    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container ">
                            <main>



                                <div style="margin-top: 3%;">
                                    <h3 style="color: purple; text-align: center">A Cloud of Trash</h3>
                                    <iframe src="../books/1.pdf" height="400" width="800" style="margin: 0 auto; display: block; border: solid; border-color: orange;"></iframe>
                                </div>

                                <div style="margin-top: 3%;">
                                    <h3 style="color: purple; text-align: center">How the Children became star</h3>
                                    <iframe src="../books/2.pdf" height="400" width="800" style="margin: 0 auto; display: block; border: solid; border-color: orange;"></iframe>
                                </div>

                                <div style="margin-top: 3%;">
                                    <h3 style="color: purple; text-align: center">Sticks Master Piece</h3>
                                    <iframe src="../books/3.pdf" height="400" width="800" style="margin: 0 auto; display: block; border: solid; border-color: orange;"></iframe>
                                </div>





                            </main>
                        </div>
                        <!-- .entry-container -->
                    </div>
                    <div class="bg-level-2 second-part"></div>
                </div>
                <!-- ***************** - END Image floating - *************** -->
            </section>
            <!-- .bottom_content_container -->
        </div>
        <div class="content_bottom_bg"></div>
    </div>



</body>
    

</html>
