<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<html class="no-ie">


<body data-type-of-widget="2" class="page secondary-page t-pattern-1">



    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container ">
                            <main>



                                <h3 >Click here to play Addition Activity</h3>
                                <div style="margin-bottom: 30px; ">

                                    <a href="/Home/AdditionActivityView"><img src="../images/addition.jpg" alt="Addition Activity"  /> </a>

                                </div>


                                <h3 >Click here to play Subtraction Activity</h3>
                                <div style="margin-bottom: 30px;">

                                    <a href="/Home/SubtractionActivityView"><img src="../images/subtraction.jpg" alt="Subtraction Activity" /> </a>

                                </div>

                                <h3>Click here to play Touch the Ball</h3>
                                <div style="margin-bottom: 30px;">

                                    <a href="/Home/TouchBallGameView"><img src="../images/ball.jpg" alt="Touch the Ball" /> </a>

                                </div>


                                <h3 >Click here to play Snake Game</h3>
                                <div style="margin-bottom: 30px;">

                                    <a href="/Home/SnakeGameView"><img src="../images/snake.png" alt="Snake Game" /> </a>

                                </div>
                                <h3>Click here to play Brick Game</h3>
                                <div>

                                    <a href="/Home/BrickGameView"><img src="../images/brick.jpg" alt="Brick Game" /> </a>

                                </div>

                                




                            </main>
                        </div>
                        <!-- .entry-container -->
                    </div>
                    <div class="bg-level-2 second-part"></div>
                </div>
                <!-- ***************** - END Image floating - *************** -->
            </section>
            <!-- .bottom_content_container -->
        </div>
        <div class="content_bottom_bg"></div>
    </div>



</body>


</html>