<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<html class="no-ie">





<body data-type-of-widget="2" class="home page kids-front-page t-pattern-1">
   








    
        <!-- HEADER END -->
        <div class="bg-level-2-page-width-container ">
            <div class="bg-level-2 first-part" id="bg-level-2"></div>
            <div class="l-page-width">
                <div class="kids_slider_bg img_slider">
                    <div class="kids_slider_wrapper">
                        <div class="kids_slider_inner_wrapper">
                            <div class="img-slider">
                                <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                                    <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
                                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
                                        <ul>
                                            <!-- SLIDE  -->
                                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <!-- MAIN IMAGE -->
                                                <img src="~/pic/slide-17.jpg" alt="slide-17" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <!-- LAYERS -->
                                                <!-- SLIDE  -->
                                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <!-- MAIN IMAGE -->
                                                <img src="~/pic/slide-5.jpg" alt="slide-5" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <!-- LAYERS -->
                                                <!-- SLIDE  -->
                                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <!-- MAIN IMAGE -->
                                                <img src="~/pic/slide-47.jpg" alt="slide-47" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <!-- LAYERS -->
                                                <!-- SLIDE  -->
                                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <!-- MAIN IMAGE -->
                                                <img src="~/pic/slide-27.jpg" alt="slide-27" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <!-- LAYERS -->
                                                <!-- SLIDE  -->
                                            <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                                                <!-- MAIN IMAGE -->
                                                <img src="~/pic/slide-37.jpg" alt="slide-37" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                <!-- LAYERS -->

                                        </ul>
                                        <div class="tp-bannertimer tp-bottom"></div>












                                    </div>
                                </div>
                                <!-- END REVOLUTION SLIDER -->
                            </div>
                            <!--/ #kids-slider-->
                        </div>
                        <!--/ .kids_slider_inner_wrapper-->
                    </div>
                    <!--/ .kids_slider_wrapper-->
                </div>
                <!--/ .kids_slider_bg-->
            </div>
            <!-- .l-page-width -->
            <div class="bg-level-2 second-part" id="bg-level-2"></div>
        </div>
    
    <!-- .bg-level-1 -->
    <div id="kids_middle_container">
        <!-- .content -->
        <div class="kids_top_content">
            <div class="kids_top_content_middle homepage">
                <div class="l-page-width">
                    <section class="kids_posts_container clearfix">
                        <div class="widget_wrapper">
                            <div id="cws_benefits-5" class="widget widget_cws_benefits">
                                <div class="widget-icon pic"><img src="~/images/icon-2.png" alt="" /></div>
                                <div class="cws-widget-content benefits_widget">
                                    <h3 class="widget-title">Playground</h3>
                                    <section class="text_part">Trick your kid for better and fast learning.</section>
                                    <a href="Home/GamesView" class='cws_button '>Go</a>
                                </div>
                            </div>
                            <div id="cws_benefits-2" class="widget widget_cws_benefits">
                                <div class="widget-icon pic"><img src="~/images/icon-1.png" alt ="" /></div>
                                <div class="cws-widget-content benefits_widget">
                                    <h3 class="widget-title">Learning</h3>
                                    <section class="text_part">This section inhances learning of your kid.</section>
                                    <a href="Home/LearningView" class='cws_button '>Go</a>
                                </div>
                            </div>
                            <div id="cws_benefits-3" class="widget widget_cws_benefits">
                                <div class="widget-icon pic">
                                    <img src="~/images/icon-3.png" alt ="" /><</div>
                                <div class="cws-widget-content benefits_widget">
                                    <h3 class="widget-title">Poems</h3>
                                    <section class="text_part">Amuse your kid by cute and heart touching poems.</section>
                                    <a href="Home/PoemsView" class='cws_button '>Go</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="bottom-border"></div>
            </div>
            <!-- .kids_top_content_middle -->
        </div>
        <div class="bg-level-2-full-width-container kids_bottom_content">
            <div class="bg-level-2-page-width-container no-padding">
                <section class="kids_bottom_content_container">
                    <!-- ***************** - START Image floating - *************** -->
                    <div class="page-content">
                        <div class="container l-page-width">
                            <div class="entry-container ">
                                <main>
                                    <div class='grid-row clearfix'>
                                        <div class='grid-col grid-col-12'>
                                            <section class='cws-widget'>
                                                <section class='cws_widget_content'>
                                                    <div class="recent_projects ">
                                                        <h3 class="section-title">Recent Poems</h3>
                                                        <div class="projects_carousel clearfix" data-carousel-column="4">
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-1.jpg" title="Project 1"><img src="~/pic/250x250-kos-1.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 1</div>

                                                                </div>

                                                            </div>
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-2.jpg" title="Project 2"><img src="~/pic/250x250-kos-2.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 2</div>

                                                                </div>

                                                            </div>
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-3.jpg" title="Project 3"><img src="~/pic/250x250-kos-3.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 3</div>

                                                                </div>

                                                            </div>
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-4.jpg" title="Project 4"><img src="~/pic/250x250-kos-4.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 4</div>

                                                                </div>

                                                            </div>
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-6.jpg" title="Project 5"><img src="~/pic/250x250-kos-6.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 5</div>

                                                                </div>

                                                            </div>
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-5.jpg" title="Project 6"><img src="~/pic/250x250-kos-5.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 6</div>

                                                                </div>

                                                            </div>
                                                            <div class="iso-item">
                                                                <div class="content-wrapper">
                                                                    <figure>
                                                                        <a data-rel="prettyPhoto[rs_projects]" class="prettyPhoto kids_picture" href="~/pic/250x250-kos-7.jpg" title="Project 7"><img src="~/pic/250x250-kos-7.jpg" alt="" /> </a>
                                                                    </figure>
                                                                </div>
                                                                <div class="gallery-text">
                                                                    <div class="title">Poem 7</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/ .projects-carousel -->
                                                    </div>
                                                    <!--/ .work-carousel-->
                                                    <hr />
                                                    <p>&nbsp;</p>
                                                </section>
                                            </section>




                                            



                                    <!-- comments block -->
                                    <!-- //end comments block -->
                                </main>
                                <div class="kids_clear"></div>
                            </div>
                            <!-- .entry-container -->
                        </div>
                    </div>
                    <!-- ***************** - END Image floating - *************** -->
                </section>
                <!-- .bottom_content_container -->
            </div>
            <div class="content_bottom_bg"></div>
        </div>
    </div>
    <!-- .end_content -->
   









    <!--[if lt IE 9]>
        <script src="js/selectivizr-and-extra-selectors.min.js"></script>
        <![endif]-->
   


</body>


<!-- Mirrored from html.creaws.com/happykids/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 May 2017 13:59:00 GMT -->
</html>
