<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<html class="no-ie">

<head>
    <style>
        body{
            background: url("../images/wood.jpg");
            margin: 0;
            padding: 0;
        }
        #imageList{
            font-size: 0;
            width: 600px;
            margin: 0 auto;
        }
        #imageList a {
            margin: 2px;
            border: 4px solid transparent;
            display: inline-block;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        #imageList a:hover{
            border-color: white;
        }
        #imageList img{
            border-radius: 6px;
        }
    </style>


    <script>
        function playclipA() {
            
                    var audio = document.getElementsByTagName("audio")[0];
                    audio.play();
        }
        function playclipB() {

            var audio = document.getElementsByTagName("audio")[1];
            audio.play();
        }
        function playclipC() {

            var audio = document.getElementsByTagName("audio")[2];
            audio.play();
        }
        function playclipD() {

            var audio = document.getElementsByTagName("audio")[3];
            audio.play();
        }
        function playclipE() {

            var audio = document.getElementsByTagName("audio")[4];
            audio.play();
        }
        function playclipF() {

            var audio = document.getElementsByTagName("audio")[5];
            audio.play();
        }
        function playclipG() {

            var audio = document.getElementsByTagName("audio")[6];
            audio.play();
        }
        function playclipH() {

            var audio = document.getElementsByTagName("audio")[7];
            audio.play();
        }
        function playclipI() {

            var audio = document.getElementsByTagName("audio")[8];
            audio.play();
        }
        function playclipJ() {

            var audio = document.getElementsByTagName("audio")[9];
            audio.play();
        }
        function playclipK() {

            var audio = document.getElementsByTagName("audio")[10];
            audio.play();
        }
        function playclipL() {

            var audio = document.getElementsByTagName("audio")[11];
            audio.play();
        }
        function playclipM() {

            var audio = document.getElementsByTagName("audio")[12];
            audio.play();
        }
        function playclipN() {

            var audio = document.getElementsByTagName("audio")[13];
            audio.play();
        }
        function playclipO() {

            var audio = document.getElementsByTagName("audio")[14];
            audio.play();
        }
        function playclipP() {

            var audio = document.getElementsByTagName("audio")[15];
            audio.play();
        }
        function playclipQ() {

            var audio = document.getElementsByTagName("audio")[16];
            audio.play();
        }
        function playclipR() {

            var audio = document.getElementsByTagName("audio")[17];
            audio.play();
        }
        function playclipS() {

            var audio = document.getElementsByTagName("audio")[18];
            audio.play();
        }
        function playclipT() {

            var audio = document.getElementsByTagName("audio")[19];
            audio.play();
        }
        function playclipU() {

            var audio = document.getElementsByTagName("audio")[20];
            audio.play();
        }
        function playclipV() {

            var audio = document.getElementsByTagName("audio")[21];
            audio.play();
        }
        function playclipW() {

            var audio = document.getElementsByTagName("audio")[22];
            audio.play();
        }
        function playclipX() {

            var audio = document.getElementsByTagName("audio")[23];
            audio.play();
        }
        function playclipY() {

            var audio = document.getElementsByTagName("audio")[24];
            audio.play();
        }
        function playclipZ() {

            var audio = document.getElementsByTagName("audio")[25];
            audio.play();
        }

    </script>

</head>

<body data-type-of-widget="2" class="page secondary-page t-pattern-1">




    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <img src="~/images/favicon.png" />
                        <div class="entry-container ">
                            <main>


                                <div id ="imageList">
                                    <a href="../images/A.jpg"><img onmouseover="playclipA();"  id="0" src="../images/Asmall.jpg" alt="A" /> </a>
                                    <a href="../images/B.jpg"><img onmouseover="playclipB();" id="1" src="../images/Bsmall.jpg" alt="B" /> </a>
                                    <a href="../images/C.png"><img onmouseover="playclipC();" id="2" src="../images/Csmall.png" alt="C" /> </a>
                                    <a href="../images/D.jpg"><img onmouseover="playclipD();" id="3" src="../images/Dsmall.jpg" alt="D" /> </a>
                                    <a href="../images/E.jpg"><img onmouseover="playclipE();" id="4" src="../images/Esmall.jpg" alt="E" /> </a>
                                    <a href="../images/F.jpg"><img onmouseover="playclipF();" id="5" src="../images/Fsmall.jpg" alt="F" /> </a>
                                    <a href="../images/G.jpg"><img onmouseover="playclipG();" id="6" src="../images/Gsmall.jpg" alt="G" /> </a>
                                    <a href="../images/H.jpg"><img onmouseover="playclipH();" id="7" src="../images/Hsmall.jpg" alt="H" /> </a>
                                    <a href="../images/I.jpeg"><img onmouseover="playclipI();" id="8" src="../images/Ismall.jpeg" alt="I" /> </a>
                                    <a href="../images/J.jpg"><img onmouseover="playclipJ();" id="9" src="../images/Jsmall.jpg" alt="J" /> </a>
                                    <a href="../images/K.png"><img onmouseover="playclipK();" id="10" src="../images/Ksmall.png" alt="K" /> </a>
                                    <a href="../images/L.jpg"><img onmouseover="playclipL();" id="11" src="../images/Lsmall.jpg" alt="L" /> </a>
                                    <a href="../images/M.jpg"><img onmouseover="playclipM();" id="12" src="../images/Msmall.jpg" alt="M" /> </a>
                                    <a href="../images/N.jpg"><img onmouseover="playclipN();" id="13" src="../images/Nsmall.jpg" alt="N" /> </a>
                                    <a href="../images/O.jpg"><img onmouseover="playclipO();" id="14" src="../images/Osmall.jpg" alt="O" /> </a>
                                    <a href="../images/P.jpg"><img onmouseover="playclipP();" id="15" src="../images/Psmall.jpg" alt="P" /> </a>
                                    <a href="../images/Q.jpg"><img onmouseover="playclipQ();" id="16" src="../images/Qsmall.jpg" alt="Q" /> </a>
                                    <a href="../images/R.jpeg"><img onmouseover="playclipR();" id="17" src="../images/Rsmall.jpeg" alt="R" /> </a>
                                    <a href="../images/S.jpg"><img onmouseover="playclipS();" id="18" src="../images/Ssmall.jpg" alt="S" /> </a>
                                    <a href="../images/T.jpg"><img onmouseover="playclipT();" id="19" src="../images/Tsmall.jpg" alt="T" /> </a>
                                    <a href="../images/U.jpg"><img onmouseover="playclipU();" id="20" src="../images/Usmall.jpg" alt="U" /> </a>
                                    <a href="../images/V.jpg"><img onmouseover="playclipV();" id="21" src="../images/Vsmall.jpg" alt="V" /> </a>
                                    <a href="../images/W.jpg"><img onmouseover="playclipW();" id="22" src="../images/Wsmall.jpg" alt="W" /> </a>
                                    <a href="../images/X.jpg"><img onmouseover="playclipX();" id="23" src="../images/Xsmall.jpg" alt="X" /> </a>
                                    <a href="../images/Y.jpg"><img onmouseover="playclipY();" id="24" src="../images/Ysmall.jpg" alt="Y" /> </a>
                                    <a href="../images/Z.jpg"><img onmouseover="playclipZ();" id="25" src="../images/Zsmall.jpg" alt="Z" /> </a>

                                </div>





                                <div style="margin-top: 10%;">
                                    <video width="700" height="390" controls style="margin: 0 auto; display: block; ">
                                        <source src="../images/video.mp4" type="video/mp4">
                                    </video>
                                    
                                </div>


                                





                            </main>
                        </div>
                        <!-- .entry-container -->
                    </div>
                    <div class="bg-level-2 second-part"></div>
                </div>
                <!-- ***************** - END Image floating - *************** -->
            </section>
            <!-- .bottom_content_container -->
        </div>
        <div class="content_bottom_bg"></div>
    </div>



    <audio>
        <source src="../audio/A.mp3"/>
    </audio>
    <audio>
        <source src="../audio/B.mp3" />
    </audio>
    <audio>
        <source src="../audio/C.mp3" />
    </audio>
    <audio>
        <source src="../audio/D.mp3" />
    </audio>
    <audio>
        <source src="../audio/E.mp3" />
    </audio>
    <audio>
        <source src="../audio/F.mp3" />
    </audio>
    <audio>
        <source src="../audio/G.mp3" />
    </audio>
    <audio>
        <source src="../audio/H.mp3" />
    </audio>
    <audio>
        <source src="../audio/I.mp3" />
    </audio>
    <audio>
        <source src="../audio/J.mp3" />
    </audio>
    <audio>
        <source src="../audio/K.mp3" />
    </audio>
    <audio>
        <source src="../audio/L.mp3" />
    </audio>
    <audio>
        <source src="../audio/M.mp3" />
    </audio>
    <audio>
        <source src="../audio/N.mp3" />
    </audio>
    <audio>
        <source src="../audio/O.mp3" />
    </audio>
    <audio>
        <source src="../audio/P.mp3" />
    </audio>
    <audio>
        <source src="../audio/Q.mp3" />
    </audio>
    <audio>
        <source src="../audio/R.mp3" />
    </audio>
    <audio>
        <source src="../audio/S.mp3" />
    </audio>
    <audio>
        <source src="../audio/T.mp3" />
    </audio>
    <audio>
        <source src="../audio/U.mp3" />
    </audio>
    <audio>
        <source src="../audio/V.mp3" />
    </audio>
    <audio>
        <source src="../audio/W.mp3" />
    </audio>
    <audio>
        <source src="../audio/X.mp3" />
    </audio>
    <audio>
        <source src="../audio/Y.mp3" />
    </audio>
    <audio>
        <source src="../audio/Z.mp3" />
    </audio>

</body>


</html>
